* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.container {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.square {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.square p {
    font-size: 30px;
}

.giallo {
    background-color: yellow;
}

.verde {
    background-color: green;
}
